@media print, screen and (min-width: 640px) {
  body{
    margin: 0;
  }
  header {
    margin: 0;
    background: #fec4b9;
    font-size: 20px;
   /* font-family: "HG教科書体";*/
    height: 120px;
    width: auto;

  }

  h1 {
    margin: 0;
	font-family: permanent-marker-pro,sans-serif;
	  font-weight: 400;
	  font-style: normal;

  }

  .menu {
    text-align: right;
    margin-bottom:0;
  }

  .botaaa {
	font-family: roboto,sans-serif;
	  font-weight: 100;
	  font-style: italic;
    margin-right: 20px;
    display: inline-block;
    margin-top: -30px;
    padding: 10px 10px;
    text-decoration: none;
    color: rgba(38, 38, 38, 0.98);
    border: solid 2px rgb(38, 38, 38);
    border-radius: 3px;
    transition: .4s;
  }
  .botaaa:hover {
    background: #67c5ff;
    color: white;
  }
  .cp_cssslider {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 2em auto;
    border: 10px solid #ffffff;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  .cp_slide_item {
    width: 300px;
    height: 200px;
    float: left;
    position: relative;
  }
  .cp_slidewrapper {
    width: 500%;/* slideの枚数×100% */
    position: relative;
    left: 0;
    animation: slider 20s infinite ease;/* スピード */
  }
  @-webkit-keyframes slider {
    /* 100%を枚数で割った%に割り振る */
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px);
    }
    40% {
      -webkit-transform: translateX(-600px);
      transform: translateX(-600px);
    }
    60% {
      -webkit-transform: translateX(-900px);
      transform: translateX(-900px);
    }
    80% {
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slider {
    /* 100%を枚数で割った%に割り振る */
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px);
    }
    40% {
      -webkit-transform: translateX(-600px);
      transform: translateX(-600px);
    }
    60% {
      -webkit-transform: translateX(-900px);
      transform: translateX(-900px);
    }
    80% {
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }


  h2{
    font-family: はんなり明朝;
  }
}