@media print, screen and (min-width: 640px) {
  body {
    margin: 0;
  }
  header {
    width: auto;
    height: 150px;
    background: #fec4b9;
    margin: 0;
  }
  h3.header {
    margin: 0;
    margin-bottom: 20px;
  }
  #container {
    display: grid; /* グリッドレイアウト */
    grid-template-rows: 400px 700px;
    grid-template-columns: 1fr 550px;
  }
  #itemA {
    grid-row: 1/2;
    grid-column: 1/2;
    background: #fff6da;
  }
  h5 {
    font-size: 30px;
    font-family: "游明朝 Light";
    margin-left: 20px;
	margin-bottom: 20px
  }
	.honbun{
		min-height: 100vh;
	}
  .profile {
    list-style: none;
    margin:0px;
    font-family: "游明朝 Light";
	font-size: 13px;
  }
  #itemB {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
  }
  #itemC {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  #itemD {
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;
  }
  footer {
    width: auto;
    height: 200px;
	position: absolute;
	bottom: 0;
  }
  div.instagram {
    background: lightpink;
  }
  li.instagram {
    display: inline-block;
    margin: 30px;
  }
  .instagram {
    font-family: "Adobe Devanagari";
    font-size: 12px;
  }
  img.instagram {
    width: 200px;
    height: 200px;
  }
  .btn-social-long-facebook {
    color: #FFF; /*文字・アイコン色*/
    border-radius: 7px; /*角丸に*/
    display: inline-block;
    height: 50px; /*高さ*/
    width: 190px; /*幅*/
    text-align: center; /*中身を中央寄せ*/
    font-size: 25px; /*文字のサイズ*/
    font-family: "Franklin Gothic Demi";
    line-height: 50px; /*高さと合わせる*/
    background: #4966a0;
    overflow: hidden; /*はみ出た部分を隠す*/
    text-decoration: none; /*下線は消す*/
    margin-top: 300px;
  }
  img.icon {
    border-radius: 50%;
  }
  .btn-social-long-facebook .fa-facebook {
    text-shadow: 2px 2px 1px #224282;
    font-size: 30px;
  }
  .btn-social-long-facebook span {
    /*テキスト*/
    display: inline-block;
    transition: .5s;
  }
  .btn-social-long-facebook:hover span {
    /*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  .btn-gradient-3d-orange {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #c03eff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
  }
  .btn-gradient-3d-orange:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .botaaa {
    margin-right: 20px;
    display: inline-block;
    margin-top: -30px;
    padding: 10px 10px;
    text-decoration: none;
    color: rgba(38, 38, 38, 0.98);
    border: solid 2px rgb(38, 38, 38);
    border-radius: 3px;
    transition: .4s;
  }
  .botaaa:hover {
    background: #67c5ff;
    color: white;
  }
  .menu {
    text-align: right;
    margin-bottom: 0;
    margin-top: 0px;
  }
  .btn-circle-border-double {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: double 4px #668ad8;
    text-align: center;
    overflow: hidden;
    transition: .6s;
  }
  .btn-circle-border-double:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}