@media screen and (max-width: 640px) {

  img {
    max-width: 100%;
    height: auto;
    width /***/: auto;
  }

  body {
    background: #ffedc1;
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 10px;
    font-size: 60px;
    text-align: center;
  }

  header {
    background: #95ebb2;
    font-size: 15px;
    font-family: "HG教科書体";

  }

  .menu {
    text-align: center;
  }

  .botaaa {
    margin-right: 20px;
    display: inline-block;
    margin-top: -30px;
  }


  div.instagram {
    background: rgba(175, 52, 240, 0.37);
  }

  li.instagram {
    display: inline-block;
    margin: 30px;

  }

  .instagram {
    font-family: "Adobe Devanagari";
    font-size: 12px;
  }

  img.instagram {
    width: 200px;
    height: 200px;
  }

  .btn-social-long-facebook {
    color: #FFF; /*文字・アイコン色*/
    border-radius: 7px; /*角丸に*/
    display: inline-block;
    height: 50px; /*高さ*/
    width: 190px; /*幅*/
    text-align: center; /*中身を中央寄せ*/
    font-size: 25px; /*文字のサイズ*/
    font-family: "Franklin Gothic Demi";
    line-height: 50px; /*高さと合わせる*/
    background: #4966a0;
    overflow: hidden; /*はみ出た部分を隠す*/
    text-decoration: none; /*下線は消す*/
  }

  .btn-social-long-facebook .fa-facebook {
    text-shadow: 2px 2px 1px #224282;
    font-size: 30px;
  }

  .btn-social-long-facebook span {
    /*テキスト*/
    display: inline-block;
    transition: .5s;
  }

  .btn-social-long-facebook:hover span {
    /*ホバーで一周回転*/
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }


  .btn-gradient-3d-orange {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #c03eff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
  }

  .btn-gradient-3d-orange:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}