@media screen and (max-width: 640px) {

  img {
    max-width: 100%;
    height: auto;
    width /***/: auto;
  }

  body {
    background: #ffedc1;
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 15px;
    font-size: 40px;
    text-align: center;
  }

  header {
    background: #fec4b9;
    font-size: 15px;
    font-family: "HG教科書体";
    height: 150px;

  }

  .menu {
    text-align: center;
  }

  .botaaa {
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: rgba(38, 38, 38, 0.98);
    border: solid 2px rgb(38, 38, 38);
    border-radius: 3px;
  transition: .4s;
}


  .botaaa:hover {
    background: #67c5ff;
    color: white;
  }



  @keyframes slider {
    /* 100%を枚数で割った%に割り振る */
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-300px);
      transform: translateX(-300px);
    }
    40% {
      -webkit-transform: translateX(-600px);
      transform: translateX(-600px);
    }
    60% {
      -webkit-transform: translateX(-900px);
      transform: translateX(-900px);
    }
    80% {
      -webkit-transform: translateX(-1200px);
      transform: translateX(-1200px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .btn-circle-border-double {
    display: inline-block;
    text-decoration: none;
    color: #668ad8;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    border: double 4px #668ad8;
    text-align: center;
    overflow: hidden;
    transition: .6s;
    margin-left: 100px;
  }

  .btn-circle-border-double:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  footer{
    width: auto;
    height: 200px;

  }
}